body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}